<div class="flex flex-col w-full xl:w-2/5 justify-center lg:items-start overflow-y-hidden">
  <h2 class="my-4 text-3xl md:text-5xl text-cyan-800 font-bold leading-tight text-center md:text-left">Save workout playlists</h2>
  <p class="leading-normal text-base md:text-2xl mb-8 text-center md:text-left">Look back at what you've been listening to during that run. And that walk, too.</p>

  <div class="flex w-full justify-center md:justify-start pb-4 lg:pb-0">
    <%= link_to(image_tag('appstore.svg', class: 'h-12 cursor-pointer'), 'https://apps.apple.com/us/app/runchime/id1606230708', target: '_blank') %>
  </div>
</div>

<div class="w-full xl:w-3/5 py-6 overflow-y-hidden">
  <%= image_tag 'screenshot.png', class: 'w-1/2 mx-auto xl:mr-0' %>
</div>

<% content_for :for_head do %>
  <meta name="description" content="Runchime is an iOS app that loads your scrobbles from Last.fm to show which tracks you were listening to during a specific workout logged in Apple Health.">
<% end %>